In [2]:
## imports ##
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder 
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [4]:
cd ../

C:\Users\otiwa

In [9]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 90F5-4C94

 Directory of C:\Users\otiwa

12-12-2022  20:50    <DIR>          .
10-10-2022  17:15    <DIR>          ..
11-10-2022  22:45    <DIR>          .anaconda
26-10-2022  15:16    <DIR>          .conda
11-10-2022  22:44                25 .condarc
11-10-2022  22:44    <DIR>          .continuum
22-11-2022  18:08    <DIR>          .ipynb_checkpoints
11-10-2022  22:50    <DIR>          .ipython
11-10-2022  22:48    <DIR>          .jupyter
27-10-2022  21:22    <DIR>          .matplotlib
03-11-2022  17:02            60,604 1_a_i.csv
03-11-2022  17:00            60,589 1_a_ii.csv
03-11-2022  17:13            60,573 1_b_i.csv
03-11-2022  17:09            60,579 1_b_ii.csv
03-11-2022  17:52                67 1_d.csv
04-11-2022  14:57           164,864 12. quetion.ipynb
04-11-2022  18:48           217,471 13. question.ipynb
04-11-2022  18:57            63,983 14.question.ipynb
05-11-2022  16:54            71,657 15. and 16. Question data mining assignment.ipynb
05-11-2022  23:19            31,459 17.question assignmnet 4 data mining.ipynb
10-11-2022  16:54               176 A.csv
14-11-2022  21:45    <DIR>          A8
14-11-2022  21:56    <DIR>          A9
19-11-2022  00:18             1,747 aapl.csv
27-10-2022  17:17                48 afile
26-10-2022  19:59    <DIR>          afile.txt
29-10-2022  22:13             1,599 afile1
29-10-2022  22:13    <DIR>          afile1.txt
19-11-2022  00:42           172,640 airline.ipynb
11-10-2022  22:45    <DIR>          anaconda3
22-11-2022  18:13           999,319 avila-tr.txt
12-12-2022  20:50           999,942 avila-ts.txt
10-11-2022  16:54               184 B.csv
22-11-2022  18:18         4,610,348 bank-full.csv
10-11-2022  16:54               188 C.csv
16-11-2022  15:21             2,251 ConjugateDirections-Quadratic.ipynb
16-11-2022  15:19             2,275 ConjugateGradient-Qudratic.ipynb
10-10-2022  16:56    <DIR>          Contacts
10-11-2022  16:54               180 D.csv
21-11-2022  17:26           252,947 data mining 5.ipynb
01-12-2022  14:43           494,711 data mining 6.ipynb
06-11-2022  14:38    <DIR>          data mining assignment 4
06-11-2022  14:41           272,517 data mining assignment 4 zip.zip
06-11-2022  10:07           434,083 Data_mining_assignment_3 (1).ipynb
03-11-2022  18:14            30,034 data_modeling 5.ipynb
29-10-2022  22:51            22,725 data_modeling 5-Copy1.ipynb
06-11-2022  10:46            89,360 data_modeling_4.ipynb
04-11-2022  13:44           405,894 Data_modelling_lab_3.ipynb
04-11-2022  14:16             5,021 data1.csv
22-11-2022  10:51           349,968 dataMining5.ipynb
15-11-2022  09:26               834 dataset.csv
25-11-2022  09:35        25,500,292 demo_matrix.csv
12-12-2022  11:57    <DIR>          Desktop
12-12-2022  10:54    <DIR>          Documents
12-12-2022  19:30    <DIR>          Downloads
10-11-2022  16:54               182 E.csv
10-11-2022  16:54               900 eight.csv
10-10-2022  16:56    <DIR>          Favorites
10-11-2022  16:54               900 five.csv
22-11-2022  18:42            43,712 FML assign.ipynb
12-12-2022  20:53    <DIR>          FML Lab
16-11-2022  10:29           156,993 FML Lab.ipynb
10-11-2022  16:54               903 four.csv
12-11-2022  23:47    <DIR>          fuck2.csv
19-11-2022  18:04             1,714 googl.csv
01-12-2022  14:31            37,661 gui.py
10-11-2022  16:54               386 heli.csv
16-11-2022  12:00            57,463 hierarchical_clustering_som.ipynb
26-10-2022  15:18           473,831 lenna_image.png
17-11-2022  15:05             1,701 Linear Programming.ipynb
10-10-2022  16:56    <DIR>          Links
16-11-2022  16:08             6,596 LMMCode.ipynb
19-11-2022  18:55           592,323 mini project.ipynb
19-11-2022  20:09           560,143 mini project-Copy1.ipynb
22-11-2022  14:31           688,259 mini project-Copy2.ipynb
16-11-2022  15:23             4,103 ModifiedNewtonsMethod-Generic.ipynb
22-11-2022  14:25             9,995 msft_24m.csv
10-10-2022  16:56    <DIR>          Music
27-10-2022  18:52             3,346 Naive_Bayes_data_mining_assign_4.ipynb
16-11-2022  15:33             3,982 NewtonsMethod-Generic.ipynb
10-11-2022  16:54               900 nine.csv
25-11-2022  16:06           679,304 NLA.ipynb
09-11-2022  13:21            19,706 NLA_Final.ipynb
10-11-2022  16:54               901 Noise.csv
10-11-2022  16:54               907 one.csv
11-12-2022  21:06    <DIR>          OneDrive
18-11-2022  15:07            32,388 Optimisation code.ipynb
19-11-2022  18:05    <DIR>          Pictures
10-11-2022  16:54               376 plane.csv
26-10-2022  18:04    <DIR>          Que_5
14-11-2022  21:54             2,121 ques_1.py
14-11-2022  21:43             1,372 ques_2.py
14-11-2022  21:31               955 ques1.py
14-11-2022  20:10             3,163 ques2.py
10-11-2022  17:24               710 ques3.py
15-11-2022  18:32             2,623 Rank1.ipynb
16-11-2022  15:16             3,397 Rank2.ipynb
10-10-2022  16:56    <DIR>          Saved Games
10-10-2022  17:15    <DIR>          Searches
10-11-2022  16:54               906 seven.csv
10-11-2022  16:54               900 six.csv
22-11-2022  18:10            30,315 Sol 2.ipynb
13-11-2022  00:13                21 some.csv
16-11-2022  16:11             3,890 SteepestDescent-Generic.ipynb
10-11-2022  16:54               368 tank.csv
13-11-2022  00:28               457 test1.csv
13-11-2022  00:43             1,747 test2.csv
13-11-2022  00:44             3,759 test3.csv
10-11-2022  16:54               361 testdata.csv
10-11-2022  16:54               903 three.csv
10-11-2022  16:54               903 two.csv
25-11-2022  12:12    <DIR>          Untitled Folder
23-11-2022  19:34    <DIR>          Untitled Folder 1
29-10-2022  22:12             2,217 Untitled1.ipynb
11-10-2022  22:06    <DIR>          Videos
10-11-2022  16:54               901 zero.csv
              84 File(s)     38,882,718 bytes
              32 Dir(s)  419,934,253,056 bytes free

In [23]:
df = pd.read_csv("avila-tr.txt", header = None)
data = df[~(df == '?').any(axis=1)]
data

,0,1,2,3,4,5,6,7,8,9,10
0,0.266074,-0.165620,0.320980,0.483299,0.172340,0.273364,0.371178,0.929823,0.251173,0.159345,A
1,0.130292,0.870736,-3.210528,0.062493,0.261718,1.436060,1.465940,0.636203,0.282354,0.515587,A
2,-0.116585,0.069915,0.068476,-0.783147,0.261718,0.439463,-0.081827,-0.888236,-0.123005,0.582939,A
3,0.031541,0.297600,-3.210528,-0.583590,-0.721442,-0.307984,0.710932,1.051693,0.594169,-0.533994,A
4,0.229043,0.807926,-0.052442,0.082634,0.261718,0.148790,0.635431,0.051062,0.032902,-0.086652,F
...,...,...,...,...,...,...,...,...,...,...,...
10425,0.080916,0.588093,0.015130,0.002250,0.261718,-0.557133,0.371178,0.932346,0.282354,-0.580141,F
10426,0.253730,-0.338346,0.352988,-1.154243,0.172340,-0.557133,0.257927,0.348428,0.032902,-0.527134,F
10427,0.229043,-0.000745,0.171611,-0.002793,0.261718,0.688613,0.295677,-1.088486,-0.590727,0.580142,A
10428,-0.301743,0.352558,0.288973,1.638181,0.261718,0.688613,0.069175,0.502761,0.625350,0.718969,E
10429,-0.104241,-1.037102,0.388552,-1.099311,0.172340,-0.307984,0.786433,-1.337547,0.999528,-0.551063,X

In [39]:
## function to generate bootstrap datasets ##
def make_bootstraps(data,n_bootstraps=10):
    #initialize output dictionary & unique value count
    dc   = {}
    unip = 0
    #get sample size
    b_size = data.shape[0]
    #get list of row indexes
    idx = [i for i in range(b_size)]
    #loop through the required number of bootstraps
    for b in range(n_bootstraps):
        #obtain boostrap samples with replacement
        sidx   = np.random.choice(idx,replace=True,size=b_size)
        b_samp = data.iloc[sidx,:]
        #compute number of unique values contained in the bootstrap sample
        unip  += len(set(sidx))
        #obtain out-of-bag samples for the current b
        oidx   = list(set(idx) - set(sidx))
        o_samp = np.array([])
        if oidx:
            o_samp = data.iloc[oidx,:]
        #store results
        dc['boot_'+str(b)] = {'boot':b_samp,'test':o_samp}
        print('training set: ', b_samp.shape)
        print('test set:', o_samp.shape)
    #state the mean number of unique values in the bootstraps
    print('Mean number of unique values in each bootstrap: {:.2f}'.format(unip/n_bootstraps))
    #return the bootstrap results
    return(1)

make_bootstraps(data)

training set:  (10430, 11)
test set: (3824, 11)
training set:  (10430, 11)
test set: (3812, 11)
training set:  (10430, 11)
test set: (3804, 11)
training set:  (10430, 11)
test set: (3787, 11)
training set:  (10430, 11)
test set: (3878, 11)
training set:  (10430, 11)
test set: (3825, 11)
training set:  (10430, 11)
test set: (3834, 11)
training set:  (10430, 11)
test set: (3801, 11)
training set:  (10430, 11)
test set: (3783, 11)
training set:  (10430, 11)
test set: (3760, 11)
Mean number of unique values in each bootstrap: 6619.20

1

In [5]:
df = pd.read_csv("bank-full.csv", sep=';')
#names=['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']
data = df[~(df == '?').any(axis=1)]

print(data)
data = data.apply(LabelEncoder().fit_transform)

#discretatizing the age 
data['age'].max()
# data['age'].min()
def change(x):
    if x >= data['age'].min() and x < 50:
        return 1
    elif x >= 50 and x < 70:
        return 2
    elif x >= 70 and x < 80:
        return 3
    elif x >= 80 and x < data['age'].max():
        return 4

data['age'] = data['age'].apply(change)


# normalizing the dataset
def normalize(X):
    mean_X=np.mean(X,axis=0)
    std_X=np.std(X,axis=0)
    X=(X-mean_X)/std_X
    return X

data_x = normalize(data.iloc[:,:-1])

data_y = data.iloc[:, -1]

#the concatinated output
data_copy = pd.concat([data_x, data_y], axis=1)

data_copy

       age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47   blue-collar   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45206   51    technician   married   tertiary      no      825      no   no
45207   71       retired  divorced    primary      no     1729      no   no
45208   72       retired   married  secondary      no     5715      no   no
45209   57   blue-collar   married  secondary      no      668      no   no
45210   37  entrepreneur   married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
0        unknown    5   may       261         1     -1         0  unknown   no
1        unknown    5   may       151         1     -1         0  unknown   no
2        unknown    5   may        76         1     -1         0  unknown   no
3        unknown    5   may        92         1     -1         0  unknown   no
4        unknown    5   may       198         1     -1         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45206   cellular   17   nov       977         3     -1         0  unknown  yes
45207   cellular   17   nov       456         2     -1         0  unknown  yes
45208   cellular   17   nov      1127         5    184         3  success  yes
45209  telephone   17   nov       508         4     -1         0  unknown   no
45210   cellular   17   nov       361         2    188        11    other   no

[45211 rows x 17 columns]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,-0.118028,-0.103820,-0.275762,1.036362,-0.13549,0.732955,0.893915,-0.436803,1.514306,-1.298476,0.823773,0.023623,-0.572970,-0.414317,-0.305354,0.444898,0
1,-0.118028,1.424008,1.368372,-0.300556,-0.13549,-0.695795,0.893915,-0.436803,1.514306,-1.298476,0.823773,-0.435364,-0.572970,-0.414317,-0.305354,0.444898,0
2,-0.118028,-0.714951,-0.275762,-0.300556,-0.13549,-0.714243,0.893915,2.289359,1.514306,-1.298476,0.823773,-0.748309,-0.572970,-0.414317,-0.305354,0.444898,0
3,-0.118028,-1.020516,-0.275762,2.373280,-0.13549,0.312051,0.893915,-0.436803,1.514306,-1.298476,0.823773,-0.681548,-0.572970,-0.414317,-0.305354,0.444898,0
4,-0.118028,2.035139,1.368372,2.373280,-0.13549,-0.714927,-1.118674,-0.436803,1.514306,-1.298476,0.823773,-0.239251,-0.572970,-0.414317,-0.305354,0.444898,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,-0.118028,1.424008,-0.275762,1.036362,-0.13549,-0.151899,-1.118674,-0.436803,-0.713012,0.143418,1.156344,3.002866,0.077253,-0.414317,-0.305354,0.444898,1
45207,8.116768,0.201746,-1.919895,-1.637474,-0.13549,0.461691,-1.118674,-0.436803,-0.713012,0.143418,1.156344,0.837282,-0.247859,-0.414317,-0.305354,0.444898,1
45208,8.116768,0.201746,-0.275762,-0.300556,-0.13549,2.385823,-1.118674,-0.436803,-0.713012,0.143418,1.156344,3.591204,0.727475,1.453270,1.292364,-0.566175,1
45209,-0.118028,-1.020516,-0.275762,-0.300556,-0.13549,-0.259175,-1.118674,-0.436803,0.400647,0.143418,1.156344,1.054258,0.402364,-0.414317,-0.305354,0.444898,0
45210,-0.118028,-0.714951,-0.275762,-0.300556,-0.13549,1.240636,-1.118674,-0.436803,-0.713012,0.143418,1.156344,0.440884,-0.247859,1.494543,5.552942,-1.577248,0

In [6]:
## function to generate bootstrap datasets ##
def make_bootstraps(data,n_bootstraps=10):
    #initialize output dictionary & unique value count
    dc   = {}
    unip = 0
    #get sample size
    b_size = data.shape[0]
    #get list of row indexes
    idx = [i for i in range(b_size)]
    #loop through the required number of bootstraps
    for b in range(n_bootstraps):
        #obtain boostrap samples with replacement
        sidx   = np.random.choice(idx,replace=True,size=b_size)
        b_samp = data.iloc[sidx,:]
        #compute number of unique values contained in the bootstrap sample
        unip  += len(set(sidx))
        #obtain out-of-bag samples for the current b
        oidx   = list(set(idx) - set(sidx))
        o_samp = np.array([])
        if oidx:
            o_samp = data.iloc[oidx,:]
        #store results
        dc['boot_'+str(b)] = {'boot':b_samp,'test':o_samp}
#         print('training set: ', b_samp.shape)
#         print('test set:', o_samp.shape)
    #state the mean number of unique values in the bootstraps
    print('Mean number of unique values in each bootstrap: {:.2f}'.format(unip/n_bootstraps))
    #return the bootstrap results
    return(dc, n_bootstraps)

dc, bootstraps = make_bootstraps(data_copy)

Mean number of unique values in each bootstrap: 28565.30

In [54]:
#for each bootstrap model train and store the result in the dictionay
class naivebayes:
    def fit(self, X, y):
        n_samples, n_features = X.shape
        self._classes = np.unique(y)
        n_classes = len(self._classes)
#         self.posteriors_arg = []
#         print(n_classes)
        # define the mean, varience and priors
        self._mean = np.zeros((n_classes, n_features), dtype=np.float64)
        self._var = np.zeros((n_classes, n_features), dtype=np.float64)
        self.priors = np.zeros(n_classes, dtype=np.float64)
        
        for i in self._classes:
            X_c = X[i==y]
            self._mean[i, :] = X_c.mean(axis=0)
            self._var[i, :] = X_c.var(axis=0)
            self.priors[i] = X_c.shape[0] / float(n_samples)
    
    def prediction(self, X):
#         for i in range(0, X.shape[0]):
#             print(X.iloc[i, :])
#         for x in X:
#             print(x)
        y_pred = [self._prediction(x) for x in X]
        return y_pred
    
    def _prediction(self, x):
        posteriors = []
        
        for idx, c in enumerate(self._classes):
            prior = np.log(self.priors[idx])
            class_conditional = np.log(self._pdf(idx, x))
#             print(class_conditional)
            posterior = prior + class_conditional
            posteriors.append(posterior)
#         print(posteriors)
#         self.posteriors_arg.append(np.argmax(posteriors))
#         print(len(self.posteriors_arg))
        return self._classes[np.argmax(posteriors)]
            
    def _pdf(self, class_id, x):
        mean = self._mean[class_id]
        var = self._var[class_id]
        numerator = np.exp(-(x - mean)**2 / (2* var))
        demoninator = np.sqrt(2 * np.pi * var)
#         print(numerator / demoninator)
        return numerator / demoninator

In [57]:
class NaiveBayes:
    def fit(self, X, y):
        n_samples, n_features = X.shape
        self._classes = np.unique(y)
        n_classes = len(self._classes)

        # calculate mean, var, and prior for each class
        self._mean = np.zeros((n_classes, n_features), dtype=np.float64)
        self._var = np.zeros((n_classes, n_features), dtype=np.float64)
        self._priors = np.zeros(n_classes, dtype=np.float64)

        for idx, c in enumerate(self._classes):
            X_c = X[y == c]
            self._mean[idx, :] = X_c.mean(axis=0)
            self._var[idx, :] = X_c.var(axis=0)
            self._priors[idx] = X_c.shape[0] / float(n_samples)

    def predict(self, X):
        y_pred = [self._predict(x) for x in X]
        return np.array(y_pred)

    def _predict(self, x):
        posteriors = []

        # calculate posterior probability for each class
        for idx, c in enumerate(self._classes):
            prior = np.log(self._priors[idx])
            posterior = np.sum(np.log(self._pdf(idx, x)))
            posterior = prior + posterior
            posteriors.append(posterior)

        # return class with highest posterior probability
        return self._classes[np.argmax(posteriors)]

    def _pdf(self, class_idx, x):
        mean = self._mean[class_idx]
        var = self._var[class_idx]
        numerator = np.exp(-((x - mean) ** 2) / (2 * var))
        denominator = np.sqrt(2 * np.pi * var)
        return numerator / denominator

In [59]:
#developing model for bootstrap data models

#for each model the predicted class
model_op = []

for i in range(bootstraps):
    X = dc['boot_'+str(i)]['boot'].iloc[:, :-1].to_numpy()
    y = dc['boot_'+str(i)]['boot'].iloc[:, -1].to_numpy()
    X_test = dc['boot_'+str(i)]['test'].iloc[:, :-1].to_numpy()
#     print(len(X_test))
    y_test = dc['boot_'+str(i)]['test'].iloc[:, -1].to_numpy()
#     print(X[-1])
    #model training 
    nb = NaiveBayes()
    nb.fit(X, y)
#     prediction1 = nb._prediction(X_test[456])
    predict = nb.predict(X_test)
#     prediction1 = nb._prediction(X[-1])
#     print(prediction1)
    model_op.append(predict)
    
print(model_op)

[array([0, 0, 1, ..., 0, 1, 0]), array([1, 1, 0, ..., 0, 0, 0]), array([0, 0, 0, ..., 0, 0, 0]), array([0, 1, 0, ..., 1, 0, 0]), array([1, 0, 0, ..., 0, 1, 0]), array([0, 0, 0, ..., 1, 0, 0]), array([0, 1, 0, ..., 1, 0, 0]), array([0, 0, 0, ..., 1, 0, 0]), array([1, 0, 0, ..., 0, 1, 0]), array([0, 0, 0, ..., 0, 0, 0])]

In [ ]:
#error calculation 
def que1(y_pred, y):
    # for calculating the value of sensitivity, specificity, precision, fmeasure
    true_positive = 0
    false_negative = 0
    true_negative = 0
    false_positive = 0

    for i, j in zip(y, y_pred):
        if i == 1 and i == int(j):
            true_positive += 1
        elif i == 1 and i != int(j):
            false_negative += 1
        elif i == 0 and i == int(j):
            true_negative += 1
        elif i == 0 and i != int(j):
            false_positive += 1
        else:
            continue 

    sensitivity = (true_positive + 1) / ((true_positive + false_negative) + 2)
    specificity = (true_negative + 1)/ ((true_negative + false_positive) + 2)
    precision = (true_positive + 1) / ((true_positive + false_positive) + 2)
    fmeasure = 2*(sensitivity * precision) / (sensitivity + precision)

    return sensitivity, specificity, precision, fmeasure